@model EditBookModel
<div class="modal-header">
    <h1 class="modal-title fs-5">Edit Book</h1>
    <button type="button" class="button-close" data-bs-dismiss="modal"
            aria-label="Close"></button>
</div>
<div class="modal-body">
    <form id="frmEditBook" asp-action="EditBook" method="post" data-ajax="true" data-ajax-method="post" data-ajax-update="#modalEditContent">
        <div asp-validation-summary="All" class="text-danger small"></div>
        <div class="form-group mb-3">
            <label asp-for="BookName" class="form-label">Book Name</label>
            <input asp-for="BookName" class="form-control" placeholder="Please write name of book" />
            <span asp-validation-for="BookName" class="text-danger small"></span>
        </div>
        <div class="form-group mb-3">
            <label asp-for="BookTitle" class="form-label">Book Title</label>
            <input asp-for="BookTitle" class="form-control" placeholder="Please write title of book" />
            <span asp-validation-for="BookTitle" class="text-danger small"></span>
        </div>
        <div class="form-group mb-3">
            <label asp-for="WriterName" class="form-label">Writer Name</label>
            <input asp-for="WriterName" class="form-control" placeholder="Please write name of writer" />
            <span asp-validation-for="WriterName" class="text-danger small"></span>
        </div>
        <div class="form-group mb-3">
            <label asp-for="Stock" class="form-label">Stock</label>
            <input asp-for="Stock" class="form-control" placeholder="0" type="number" />
            <span asp-validation-for="Stock" class="text-danger small"></span>
        </div>
        <div class="form-group mb-3">
            <label asp-for="DateOfPrint" class="form-label">Date of Print</label>
            <input asp-for="DateOfPrint" class="form-control" type="date" />
            <span asp-validation-for="DateOfPrint" class="text-danger small"></span>
        </div>
        <div class="form-group mb-3">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" asp-for="IsStock" />
                <label class="form-check-label" asp-for="IsStock">Is Stock ?</label>
            </div>
        </div>
        <input type="hidden" asp-for="Id" />
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">
        Close
    </button>
    <button type="submit" class="btn btn-primary btn-sm" form="frmEditBook">
        <i class="fa fa-save me-2"></i>Save
    </button>
</div>
@if (string.IsNullOrEmpty(Model.Done) == false)
{
    <script>
    $("#modalEdit").modal("hide");
    toastr.success('@Model.Done',"Success");
    refresh.click();
    </script>
}